<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta lang="zh"/>
    <title>select2</title>
    <script src="js/jquery-3.3.1.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.demo').select2();
        });
    </script>
</head>
<body>

</body>
</html>
