.inputNewCss {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
}
.textl {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	text-align: left !important;
	padding-left: 0 !important;
}

.select {
    height: 21px;
    font-size: 12px;
}
input, select, textarea {
    background-color: #FAFAFA !important;
}
.select-box, .select-box.size-M {
    height: 25px !important;
    padding: 0 !important;
}
.bl{
	cursor: pointer;
}

.inputp {
    display: table;
    position: relative;
}
.aabb {
    display: table-cell;
}

.input-group-addon {
    padding: 5px 12px 3px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    border-left: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.textlsuccess{
	text-align: left !important;
	padding-left: 0 !important;
	color: #5eb95e;
}
.input-file{
	left: 0;
	right: 0;
	width: 100%;
	font-size: 0 !important;
	bottom: 0;
}

.mt-1{
	margin-top: 3px;
}
.wid33{
	width: 33%;
}
