body {
	background: #F9F8F8;
}

h5,
h2 {
	color: #666666;
}

u {
	cursor: pointer;
}

.glvq ol {
	border-bottom: 1px solid #CCCCCC;
	box-sizing: border-box;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	color: #666666;
}

.bji ol {
	eight: 30px;
	line-height: 30px;
	color: #666666;
}

.biqian li {
	display: inline;
	font-size: 12px;
	padding: 5px 8px 5px 3px;
	float: left;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #666666;
	cursor: pointer;
}

.posirel {
	position: relative;
}

.searchdiv {
	position: absolute;
	top: 20px;
	right: 15px;
}

.searchspan {
	position: absolute;
	top: 60px;
	right: 15px;
}

.btnback {
	position: absolute;
	top: 62px;
	right: 15px;
}

.searchspan div {
	float: right;
}

.searchdiv input {
	width: 240px;
}

table tr {
	height: 47px;
}

table th {
	background: #F9F8F8 !important;
}

.posirel div {
	top: 30%;
	left: 30%;
}

.filedown {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	box-sizing: border-box;
}

.filedown a {
	text-decoration: none;
}

.fileText {
	background-color: #fff;
	position: relative;
}

.page-container {
	padding-top: 5px !important;
}

.corner {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: transparent #f1f1f1 #f1f1f1 transparent;
	border-image: none;
	border-style: solid;
	border-width: 0.6em;
	bottom: 1px;
	display: inline-block;
	height: 0;
	line-height: 0;
	position: absolute;
	right: 16px;
	width: 0;
}

.file_name {
	background-color: #f8f8f8;
	border-top: 1px solid #e7eaec;
	padding: 10px;
}

.fontSize {
	font-size: 70px;
	color: #DADADA;
}

.down_image img {
	width: 100%;
	height: 100%;
}

.h50 {
	height: 116px;
}

.border1px {
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
}

.btnright input {
	float: right;
}

.btnright .btn-default {
	margin-right: 15px;
}

.righttool {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	color: #9c9c9c;
	cursor: pointer;
	display: none;
	font-size: 16px;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	position: fixed;
	right: 15px;
	text-align: center;
	text-decoration: none;
	visibility: visible;
	width: 38px;
	z-index: 999;
}

.righttool:hover {
	background: #999999;
	border: 1px solid #999999;
	text-decoration: none;
	color: #FFFFFF;
}

.ewmbottom {
	bottom: 103px;
}

.fxbottom {
	bottom: 146px;
}

.titleleft {
	float: left;
	margin-left: 0px;
	padding: 10px 0;
}

.titleleft p {
	margin-bottom: 0px;
}

.titleleft p a {
	text-decoration: underline;
}

.titleleft h3 {
	padding: 5px 0;
}

.titleleft small {
	color: #b3b3b3;
}

h3 small {
	color: #999999 !important;
}

.titleimg {
	width: 101px;
	height: 101px;
	float: left;
	text-align: center;
	line-height: 101px;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	/*border-radius: 51px;
	-moz-border-radius: 51px;
	-webkit-border-radius: 51px;
	-ms-border-radius: 51px;*/
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.titleimg img {
	width: 65px;
	height: 65px;
}

.nummed {
	margin-right: 15px;
	color: #666666;
}

.middleselect {
	width: 150px;
	margin-left: 40px;
}

.tooldiv {
	position: relative;
}

.mlr-15 {
	margin: 0 15px;
}

.maskBar {
	font-size: 12px;
	text-align: left;
}

.addmore {
	height: 161px;
	line-height: 140px;
	text-align: center;
	cursor: pointer;
}

.reportExpain {
	position: absolute;
}

.iocn {
	height: 9px;
	width: 104px;
	background: url(../../images/ddd.png) no-repeat;
	background-position: center center;
	position: absolute;
	z-index: 4;
	top:27px;
	left:195px;
}

.menuli {
	position: absolute;
	z-index: 3;
	background: #FFFFFF;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	box-sizing: border-box;
	top:36px;
	left:195px;
}

.reportExpain .menuli li {
	padding: 4px 18px;
	border-bottom: 1px solid #CCCCCC;
	cursor: pointer;
	font-size: 12px;
	width: 68px;
}

/*.tooltipspan {
	position: absolute;
	right: 15px;
	top: 10px;
}*/

.upone {
	border-radius: 50%;
	line-height: 16px !important;
}

.topline {
	border-top: 1px solid #CCCCCC;
	box-sizing: border-box;
	padding-top: 10px;
}
.cpoint{
	cursor: pointer;
}
.fileview p{
	text-indent: 2em;
	font-size: 12px;
	color: #999;
}

.mt-0{
	margin-top:0 !important;
}