@charset "utf-8";

/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote,th,td
	{
	padding: 0;
	margin: 0;
}

img {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	height: 100%;
}

ol,ul {
	list-style: none;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
}

body {
	font-size: 12px;
	font-family: microsoft yahei, Arial, simsun, Helvetica, sans-serif;
	background-color: #fff;
}

a:link {
	color: #3366CC;
	text-decoration: none
}

a:visited {
	color: #3366CC;
	text-decoration: none
}

a:hover {
	color: #EF7824;
	text-decoration: underline;
	text-decoration: none;
}

a:active {
	colo127r: #EF7824;
	text-decoration: underline
}

/*开始*/
.mian_head1 {
	height: 101px;
	background: #1a1a1a;
	padding-left: 17px;
}

.head_left {
	float: left;
}

.mian_logo {
	float: left;
	height: 38px;
	padding-top: 20px;
}

.mian_logo .logo {
	border: none;
	float: left;
}

.mian_logo .line {
	border-left: 1px solid #646464;
	height: 36px;
	width: 1px;
	float: left;
	margin-top: 2px;
	margin-left: 18px;
}

.mian_logo .name {
	font-size: 19px;
	color: #c1c1c1;
	padding-left: 18px;
	float: left;
}

.nav1 {
	clear: both;
}

.nav1 ul {
	padding-left: 10px;
	padding-top: 13px;
}

.nav1 ul li {
	float: left;
	display: block;
	line-height: 30px;
}

.nav1 ul li a * {
	font-size: 16px;
}

.nav1 ul li a {
	color: #cacaca !important;
	font-size: 16px;
	padding: 5px 13px 5px 13px;
	text-align: center;
}

.nav1 ul li a.on,.nav1 ul li a:hover {
	color: #00ccff !important;
	background: #3f3f3f;
}

.head_right {
	float: right;
	padding-right: 30px;
}

.head_right .yy_left {
	float: left;
}

.head_right .yy_right {
	float: left;
	padding-left: 30px;
	padding-top: 26px;
}

.head_right .yingyong {
	padding-top: 14px;
}

.head_right .yingyong ul li {
	float: left;
	font-size: 13px;
}

.head_right .yingyong ul li a {
	color: #a9a9a9;
	padding-right: 12px;
}

.head_right .yingyong ul li span {
	float: left;
	color: #646464;
	padding-right: 8px;
}

.head_right .yingyong li a:hover {
	color: #00ccff;
}

.search {
	clear: left;
	width: 227px;
	height: 24px;
	margin-top: 30px;
}

.search input {
	height: 24px;
	width: 203px;
	background: #515151;
	border: none;
	float: left;
	color: #fff;
	text-indent: 0.5em;
	line-height: 24px;
	border: none;
}

.search .submit {
	float: left;
}

.mian_head2 {
	height: 35px;
	background: #3f3f3f;
	padding-left: 60px;
}

.mian_head2 .nav2 {
	float: left;
	padding-left: 30px;
	clear: both;
}

.head_service {
	float: right;
	padding-right: 30px;
	height: 35px;
}

.mian_head2 .phone {
	float: right;
	padding-right: 100px;
}

.online-service {
	float: right;
}

.online-service {
	float: right;
	height: 35px;
	width: 62px;
}

.online-service-logo {
	height: 35px;
	width: 62px;
	background: url(../images/online-service.png) no-repeat 0 -35px;
	border: none;
	cursor: pointer;
}

.online-service UL {
	margin: 0;
	padding: 0;
	display: none;
	width: 180px;
}

.online-service UL LI {
	background: #626262;
	font-size: 12px;
	float: none;
	color: #e2e2e2;
	padding-top: 12px;
	padding-left: 15px;
	line-height: 45px;
	height: 45px;
}

.online-service-on {
	overflow-y: visible;
}

.online-service-on .online-service-logo {
	background-position: 0 0;
}

.online-service-on UL {
	position: absolute;
	display: block;
}

.mian_head2 .phone p {
	line-height: 35px;
	color: #00ccff;
	font-size: 13px;
}

.mian_head2 ul li {
	float: left;
	padding-right: 17px;
	line-height: 35px;
}

.mian_head2 ul li a {
	line-height: 33px;
	font-size: 14px;
	color: #cacaca !important;
}

.mian_head2 ul li a.on,.mian_head2 ul li a:hover {
	color: #00ccff !important;
	background: none;
}

.index_nav {
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
}

.nav_caozuo {
	font-size: 36px;
	color: #454545;
	height: 51px;
	border-bottom: 3px solid #ededf0;
}

.daohang_list {
	margin-top: 18px;
}

.daohang_list h2 {
	padding-top: 15px;
}

.daohang_list h2 a {
	color: #1570a6;
	font-size: 20px;
}

.daohang_list p {
	line-height: 22px;
	font-size: 14px;
	padding-top: 5px;
}

.daohang_list .list1 {
	width: 212px;
	float: left;
}

.list1_1 a {
	background: url(../images/list1.png) no-repeat;
	height: 117px;
	width: 206px;
	display: block;
}

.list1_1 a:hover {
	background: url(../images/list_1_1.png) no-repeat;
}

.list2_2 a {
	background: url(../images/list2.png) no-repeat;
	height: 117px;
	width: 206px;
	display: block;
}

.list2_2 a:hover {
	background: url(../images/list2_2.png) no-repeat;
}

.list3_3 a {
	background: url(../images/list3.png) no-repeat;
	height: 117px;
	width: 206px;
	display: block;
}

.list3_3 a:hover {
	background: url(../images/list3_3.png) no-repeat;
}

.list4_4 a {
	background: url(../images/list4.png) no-repeat;
	height: 117px;
	width: 206px;
	display: block;
}

.list4_4 a:hover {
	background: url(../images/list4_4.png) no-repeat;
}

#list2 {
	margin-left: 47px;
}

/*登录界面开始*/
.login {
	width: 100%;
	margin: 0 auto;
	height: auto;
}

.login .login_top {
	width: 100%;
	height: 87px;
	background: #1a1a1a;
}

.login_top .login_logo {
	padding-top: 20px;
	padding-left: 17px;
	float: left;
}

.login_top .logo_top_right {
	float: right;
	padding-right: 30px;
	padding-top: 20px;
}

.logo_top_right p a {
	font-size: 14px;
	color: #fff !important;
	padding-right: 38px;
}

.logo_top_right p a:hover {
	color: #00ccff !important;
}

.login_top .phone {
	color: #c1c1c1;
	padding-top: 16px;
}

.login_center {
	padding-top: 80px;
	width: 1024px;
	margin: 0 auto;
}

.login_center_left {
	float: left;
	border-right: 2px dashed #cad7db;
	padding-right: 40px;
	overflow: hidden;
	height: 337px;
}

.login_center_right {
	float: right;
	padding-right: 10px;
	width: 425px;
	overflow: hidden;
}

.login_center_right h2 {
	font-size: 21px;
	color: #3b77a1;
	padding-bottom: 15px;
}

.login_center_right form {
	border-top: 1px solid #b4c1c3;
}

.login_center_right .fff {
	padding-top: 25px;
}

.login_center_right form label {
	font-size: 16px;
	font-family: "simsun";
	height: 31px;
}

#cuserpassword,#cusername {
	height: 31px;
	border: 1px solid #b4c1c3;
	width: 272px;
	line-height: 31px;
	text-indent: 0.4em;
	font-size: 14px;
}

.login_center_right p {
	padding-top: 21px;
}

.login_center_right .c3 {
	font-size: 14px;
}

.fog_left {
	float: left;
	padding-left: 69px;
}

.fog__right {
	font-size: 14px;
	font-family: "simsun";
	float: right;
	padding-right: 74px;
}

.login_center_right p a {
	color: #0381a0 !important;
}

.login_center_right .sub {
	clear: both;
	padding-left: 69px;
}

.login_center_right .sub .submit {
	background: url(../images/button.png) no-repeat;
	height: 36px;
	width: 109px;
	border: none;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}

.tishi {
	height: 40px;
	border: 1px dashed #b4c1c3;
	width: 274px;
	margin-top: 25px;
	margin-left: 69px;
}

.tishi img {
	padding-left: 10px;
	float: left;
	padding-top: 3px;
}

.tishi span {
	font-size: 14px;
	font-family: "simsun";
	float: left;
	line-height: 40px;
	padding-left: 8px;
	color: #C00;
}

/*登录界面结束*/ /*激活界面开始*/
.jihuo_center {
	width: 1000px;
	margin: 0 auto;
	height: auto;
	margin-top: 35px;
}

.jihuo_sm {
	border-bottom: 3px solid #cedde0;
	padding-bottom:10px;
}

.jihuo_sm img {
	float: left;
}

.jihuo_sm span {
	float: left;
	padding-left: 24px;
	padding-top: 10px;
}

.jihuo_sm span h2 {
	font-size: 26px;
	color: #3b93dc;

}

.jihuo_sm span p {
	font-size: 16px;
	color: #676666;
	padding-top: 19px;
}

.jihuo_form {
	clear: both;
	width: 430px;
	margin: 0 auto;
	padding-top: 15px;
}

.jihuo_form h2 {
	font-size: 21px;
	color: #3b77a1;
}

.jihuo_form .jihuo_list {
	width: 430px;
	margin-top: 14px;
	font-family: "simsun";
	font-size: 16px;
	color: #1a1a1a;
}

.jihuo_list p {
	padding-top: 21px;
}

.jihuo_list #cuserpassword {
	margin-left: 8px;
}

.jihuo_list .sub {
	clear: both;
	padding-left: 88px;
}

.jihuo_list .list1 {
	padding-top: 30px;
}

.jihuo_list .sub .submit {
	background: url(../images/button.png) no-repeat;
	height: 36px;
	width: 109px;
	border: none;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}

/*激活界面结束*/ /*用户资料完善开始*/
.message_center {
	width: 880px;
	height: auto;
	margin: 0 auto;
	padding-top: 34px;
}

.message_center .success {
	height: 130px;
}

.success img {
	float: left;
}

.success p {
	float: left;
	font-size: 20px;
	color: #454545;
	padding-left: 20px;
	padding-top: 24px;
}

.success p span {
	color: #2d86c4;
	text-decoration: underline;
}

.more_message {
	clear: both;
}

.more_message .more_message_left {
	float: left;
}
.more_message_top {
	border-bottom: 3px solid #cedde0;
}
.more_message_right {
	float: left;
	padding-left: 25px;
	padding-top: 8px;
	height: 90px;
}

.more_message_right h2 {
	font-size: 26px;
	color: #3b93dc;
}

.more_message_right p {
	font-size: 16px;
	color: #676666;
	padding-top: 10px;
}

.more_message_form {
	clear: both;
	width:750px;
	margin:0 auto;
}
.more_message_form h3 {
	font-size:16px;
	padding-bottom:10px;
	border-bottom:1px dashed #ccc;
	color:#2779c0;
}
.more_message_form div {
	padding-top: 12px;
}
.more_message_form p {
	padding-bottom:20px;
}
.more_message_form label {
	font-size: 16px;
	font-family: "simsun";
	padding-left: 38px;
}

#more_name,#more_name,#address,#mail {
	height: 31px;
	border: 1px solid #b4c1c3;
	width: 272px;
	line-height: 31px;
	text-indent: 0.4em;
	font-size: 14px;
}

#mail {
	margin-left: 8px;
}

#more_phone {
	height: 31px;
	border: 1px solid #b4c1c3;
	line-height: 31px;
	text-indent: 0.4em;
	font-size: 16px;
}

.more_message_form .input_box {
	height: 31px;
	border: 1px solid #b4c1c3;
	line-height: 31px;
	text-indent: 0.4em;
	font-size: 16px;
}

.more_message_form .sub {
	clear: both;
	padding-left: 114px;
	padding-top:30px;
	margin-bottom:50px;
}

.more_message_form .sub .submit {
	background: url(../images/button.png) no-repeat;
	height: 36px;
	width: 109px;
	border: none;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}
.more_message_form .c5 span {
	padding-left:115px;
}

/*用户资料完善结束*/ /*地图界面开始 
.map_center {
	width: 1024px;
	margin: 0 auto;
	padding-top: 50px;
	padding-left: 80px;
}

.map_center h2 {
	font-size: 32px;
	color: #454545;
	padding-bottom: 17px;
	border-bottom: 3px solid #ededf0;
}

.map_list ul li {
	float: left;
	padding-right: 34px;
	padding-top: 39px;
}

.map_list .a1 a {
	background: url(../images/a1.png) no-repeat;
	height: 125px;
	width: 218px;
	display: block;
}

.map_list .a1 a:hover {
	background: url(../images/a1_1.png) no-repeat;
	height: 125px;
	width: 218px;
}

.map_list .a2 a {
	background: url(../images/a2.png) no-repeat;
	height: 125px;
	width: 218px;
	display: block;
}

.map_list .a2 a:hover {
	background: url(../images/a2_2.png) no-repeat;
}

.map_list .a3 a {
	background: url(../images/a3.png) no-repeat;
	height: 125px;
	width: 218px;
	display: block;
}

.map_list .a3 a:hover {
	background: url(../images/a3_3.png) no-repeat;
}

.map_list .a4 a {
	background: url(../images/a4.png) no-repeat;
	height: 125px;
	width: 218px;
	display: block;
}

.map_list .a4 a:hover {
	background: url(../images/a4_4.png) no-repeat;
}

.map_list .a5 a {
	background: url(../images/a5.png) no-repeat;
	height: 125px;
	width: 218px;
	display: block;
}

.map_list .a5 a:hover {
	background: url(../images/a5_5.png) no-repeat;
}

.map_list .a6 a {
	background: url(../images/a6.png) no-repeat;
	height: 125px;
	width: 218px;
	display: block;
}

.map_list .a6 a:hover {
	background: url(../images/a6_6.png) no-repeat;
}

.map_list .a7 a {
	background: url(../images/a7.png) no-repeat;
	height: 125px;
	width: 218px;
	display: block;
}

.map_list .a7 a:hover {
	background: url(../images/a7_7.png) no-repeat;
}

.map_list .a8 a {
	background: url(../images/a8.png) no-repeat;
	height: 125px;
	width: 218px;
	display: block;
}

.map_list .a8 a:hover {
	background: url(../images/a8_8.png) no-repeat;
}

.map_list .a9 a {
	background: url(../images/a9.png) no-repeat;
	height: 125px;
	width: 218px;
	display: block;
}

.map_list .a9 a:hover {
	background: url(../images/a9_9.png) no-repeat;
}

.map_list .a10 a {
	background: url(../images/a10.png) no-repeat;
	height: 125px;
	width: 218px;
	display: block;
}

.map_list .a10 a:hover {
	background: url(../images/a10_10.png) no-repeat;
}

.map_list .a11 a {
	background: url(../images/a11.png) no-repeat;
	height: 125px;
	width: 218px;
	display: block;
}

.map_list .a11 a:hover {
	background: url(../images/a11_11.png) no-repeat;
}

.map_list .a12 a {
	background: url(../images/a12.png) no-repeat;
	height: 125px;
	width: 218px;
	display: block;
}

.map_list .a12 a:hover {
	background: url(../images/a12_12.png) no-repeat;
}

 地图界面结束*/ /*地图界面2开始*/
.map2-index {
	margin: 0 auto;
	height: auto;
	width:980px;
}

.map2-main {
	height: 192px;
	background: #e6f1f3;
	border-bottom: 1px solid #cedde0;
}

.map2-main .map2-top {
	width: 980px;
	margin: 0 auto;
}

.map2-top h2 {
	font-size: 21px;
	float: left;
	color: #3a7888;
	padding-top: 48px;
}

.map2-tu {
	border-bottom:1px dashed #ccc;
	padding-bottom:40px;
	clear:both;
}

.map2-top .map2-tu img:hover {
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.map2-top p {
	float: right;
	font-size: 21px;
	color: #3a7888;
	padding-top: 134px;
}

#map2-center {
	background: url(../images/app_bj.png);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.map2-center-mian {
	border-bottom: 3px solid #cedde0;
	margin-bottom:40px;
	padding-top: 47px;
}
.map2-center-mian img {
	float:left;
	padding-right:28px;
	margin-bottom:15px;
}
.map2-center-mian span {
	float:left;
}
.map2-center-mian h2 {
	font-size: 26px;
	color: #3b93dc;
}
.map2-center-mian p {
	font-size: 16px;
	color: #676666;
	padding-top: 19px;
	padding-bottom: 24px;
}
.map2-center-tu ul {
	padding-top: 36px;
}

.map2-center-tu ul li {
	float: left;
	padding-right: 40px;
}

.map2-center-tu li img:hover {
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

/*地图界面2结束*/ /*我的应用界面开始*/
.app .app_yy {
	font-size: 25px;
	color: #454545;
	padding-bottom: 12px;
	border-bottom: 3px solid #ededf0;
}

.already_list {
	width: 1024px;
	background: #efefef;
	margin-top: 13px;
}

.already .app_one {
	padding-top: 24px;
	height: 145px;
	padding-bottom: 22px;
}

.app_one li {
	float: left;
	padding-left: 44px;
}

.app_one a {
	width: 79px;
	height: 79px;
	text-align: center;
}

.app_one a img {
	padding-top: 17px;
}

.already_list .a_list1  a {
	width: 79px;
	height: 79px;
	background: #3679dd;
	display: block;
}

.already_list .a_list1 a:hover {
	background: #408cfd;
}

.already_list .a_list2 a {
	width: 79px;
	height: 79px;
	background: #38a3db;
	display: block;
}

.already_list .a_list2 a:hover {
	background: #64b2db;
}

.already_list .a_list3 a {
	width: 79px;
	height: 79px;
	background: #d42fdd;
	display: block;
}

.already_list .a_list3 a:hover {
	background: #d65add;
}

.already_list .a_list4 a {
	width: 79px;
	height: 79px;
	background: #38a3db;
	display: block;
}

.already_list .a_list4 a:hover {
	background: #64b2db;
}

.already_list .a_list5 a {
	width: 79px;
	height: 79px;
	background: #df4c21;
	display: block;
}

.already_list .a_list5 a:hover {
	background: #df6542;
}

.already_list .a_list6 a {
	width: 79px;
	height: 79px;
	background: #1c6cd8;
	display: block;
}

.already_list .a_list6 a:hover {
	background: #3c7ed8;
}

.app_one .a_bt {
	width: 79px;
	text-align: center;
	font-size: 14px;
	font-family: "simsun";
	color: #494545;
	padding-top: 13px;
}

#upgrade {
	margin-top: 54px;
	clear: both;
}

.recommended h2 {
	font-size: 25px;
	color: #454545;
}

.recommended_list {
	width: 1024px;
	border-left: 1px solid #e3e3e8;
	border-right: 1px solid #e3e3e8;
	border-top: 3px solid #ededf0;
	border-bottom: 3px solid #ededf0;
	margin-top: 14px;
	margin-bottom: 60px;
}

.recommended_left {
	width: 137px;
	height: auto;
	border-right: 1px solid #e3e3e8;
	float: left;
}

.recommended_left ul li {
	height: 47px;
	border-bottom: 1px solid #e3e3e8;
	text-align: center;
	width: 137px;
	line-height: 47px;
}

.recommended_left ul li a {
	color: #797777;
	font-size: 18px;
}

.recommended_left ul li a:hover {
	color: #1e7fd9;
}

.recommended_right {
	float: left;
	width: 884px;
	margin-bottom: 30px;
}

.recommended_right ul li {
	float: left;
	margin-left: 14px;
	margin-top: 28px;
}

.recommended_right .rec_1 a {
	width: 275px;
	height: 200px;
	background: #dfad30;
	display: block;
}

.recommended_right .rec_2 a {
	width: 275px;
	height: 200px;
	background: #a09a89;
	display: block;
}

.recommended_right .rec_3 {
	width: 275px;
	height: 200px;
	background: #6eb9b0;
}

.recommended_right .rec_4 {
	width: 275px;
	height: 200px;
	background: #6e75b9;
}

.recommended_right .rec_5 {
	width: 275px;
	height: 200px;
	background: #b96ea0;
}

.recommended_right .rec_6 {
	width: 275px;
	height: 200px;
	background: #9ab96e;
}

.recommended_right .rec_left {
	float: left;
	padding-top: 38px;
	padding-left: 22px;
	width: 73px;
}

.recommended_right .rec_right {
	float: left;
	width: 178px;
}

.recommended_right  h3 {
	font-size: 21px;
	color: #fff;
	float: left;
	padding-top: 50px;
}

.recommended {
	margin-top: 54px;
	clear: both;
}

.app_button2 {
	margin-left: 95px;
	margin-top: 20px;
	clear: both;
}

.rec_more {
	padding-top: 55px;
	padding-left: 5px;
	clear: both;
	color: #fff;
	font-size: 15px;
}

.rec_more p {
	padding-top: 4px;
}

/*我的应用界面结束*/ /*我的应用界面2开始*/
#app {
	background: url(../images/app_bj.png);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.app {
	width: 980px;
	padding-top:20px;
	margin: 0 auto;
	height: auto;
}

.app .app_mian {
	width: 980px;
	margin: 0 auto;
}

.app_mian .app_left {
	float: left;
	width: 640px;
}

.app_mian .app_right {
	float: left;
	margin-left: 18px;
}

.app_left .app_title {
	height: 37px;
	border-bottom: 2px solid #b9cbd5;
	margin-bottom: 30px;
}

.app_left .app_title h2 {
	line-height: 37px;
	font-size: 17px;
	float: left;
	margin-right: 20px;
	width: 95px;
	height: 37px;
	text-align: center;
}

.app_title a {
	color: #848585;
	display: block;
	width: 95px;
	height: 37px;
}

.app_title a.on,.app_title a:hover {
	background: #b9cbd5;
	display: block;
	height: 37px;
	text-align: center;
	color: #0f689c;
}

.app_left .app_sub_title {
	height: 37px;
	padding: 10px;
}

.app_sub_title a {
	float: left;
	color: #848585;
	display: block;
	padding: 0 15px 0 15px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-right: 10px;
}

.app_sub_title a.on,.app_sub_title a:hover {
	background: #b9cbd5;
	display: block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #0f689c;
}

.app_left .app_list {
	clear: both;
	margin-bottom: 16px;
	padding-bottom: 24px;
	padding-top: 24px;
	border: 1px solid #dbdada;
	border-bottom: 1none;
	background: #fff;
	padding-left: 21px;
	display: block;
}

.app_list.over {
	background: #f5fdff;
	border: 1px solid #b9cbd5;
}

.app_list_left {
	float: left;
}

.app_list_left img {
	width: 56px;
	height: 56px
}

.app_list_right {
	float: left;
	padding-left: 5px;
	width: 440px;
}

.app_list_right .app_tu img {
	width: 318px;
	height: 138px;
}

.app_list .app_list_title {
	font-size: 16px;
	color: #323333;
}

.app_list p {
	font-size: 14px;
	color: #6e6f6f;
	line-height: 24px;
	padding-top: 10px;
}

.app_left .app_more a {
	color: #939393;
}

.app_left .app_more a:hover {
	color: #4c83a1;
}

.app_left .app_more {
	width: 476px;
	height: 34px;
	border: 1px solid #dadada;
	margin-top: 24px;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	background: #fff;
	margin-left: 100px;
	margin-bottom: 80px;
}

.app_right .app_wz {
	border: 1px solid #d8d8d5;
	background: #fff;
	padding-top: 16px;
	padding-bottom: 20px;
	width: 300px;
	margin-bottom: 12px;
	padding-left: 14px;
}

.app_wz .app_wznr {
	font-size: 14px;
}

.app_wz .app_wznr a {
	padding-left: 10px;
}

.app_right .app_wz h2 {
	font-size: 16px;
	color: #4c83a1;
}

.app_wz .app_form {
	margin-top: 20px;
}

.app_wz .app_form label {
	font-size: 14px;
	color: #7b7b7c;
	font-family: "simsun";
}

.app_form .email {
	padding-left: 24px;
}

.app_form .opinion {
	margin-top: 16px;
}

.app_form .opinion textarea {
	height: 144px;
	border: 1px solid #a4a1a1;
	font-size: 14px;
	line-height: 23px;
	width: 275px;
	text-indent: 0.5em;
	color: #999;
	font-size: 14px;
	padding-left: 5px;
}

.app_form .n_submit {
	clear: both;
	padding-top: 15px;
	text-align: center;
}

.app_form .n_submit input {
	width: 70px;
	height: 32px;
	border: 1px solid #a4a1a1;
	background: url(../images/subbj.gif) repeat-x;
	font-weight: bold;
	color: #666;
	font-size: 14px;
}

.e-mail,.form—phone input {
	height: 30px;
	border: 1px solid #a4a1a1;
	width: 275px;
	line-height: 30px;
	text-indent: 0.5em;
	font-size: 14px;
	color: #999;
	padding-left: 5px;
}

.app_wz .communication img {
	float: left;
	padding-right: 5px;
}

.app_wz .communication h2 {
	float: left;
}

.sj {
	background: url(../images/sj.gif) no-repeat;
	width: 73px;
	height: 27px;
	float: right;
	margin-right: 28px;
	border: 1px solid #c9c9c9;
}

.sj:hover {
	border: 1px solid #6ea25f;
}

.zt {
	background: url(../images/zt.gif) no-repeat;
	width: 73px;
	height: 27px;
	float: right;
	margin-right: 28px;
	border: 1px solid #c9c9c9;
	margin-top: 8px;
}

.zt:hover {
	border: 1px solid #c75d41;
}

.xz {
	background: url(../images/xz.gif) no-repeat;
	width: 73px;
	height: 27px;
	float: right;
	margin-right: 28px;
	border: 1px solid #c9c9c9;
	margin-top: 8px;
}

.xz:hover {
	border: 1px solid #5d5d5e;
}

.yx {
	background: url(../images/yx.gif) no-repeat;
	width: 73px;
	height: 27px;
	float: right;
	margin-right: 28px;
	border: 1px solid #c9c9c9;
	margin-top: 8px;
}

.yx:hover {
	border: 1px solid #1b82ce;
}

.az {
	background: url(../images/az.gif) no-repeat;
	width: 73px;
	height: 27px;
	float: right;
	margin-right: 28px;
	border: 1px solid #c9c9c9;
	margin-top: 8px;
}

.az:hover {
	border: 1px solid #426ab3;
}

.app_left .app_more a {
	color: #939393;
}

/*我的应用界面2结束*/ /*异常界面开始*/
#wrong_index {
	background: url(../images/app_bj.png);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
	width: 100%;
}

.wrong {
	margin: 0 auto;
	position: absolute;
	width: 100%;
	height: 100%;
}

.wrong .wrong_aa {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -260px;
	margin-top: -200px;
	height: 286px;
	background: #fff;
	border: 1px solid #d5d5d5;
	width: 557px;
}

.wrong .wrong_top {
	width: 490px;
	margin: 0 auto;
	margin-top: 17px;
	height: 56px;
	border-bottom: 1px solid #e2e2e2;
}

.wrong .wrong_top img {
	float: left;
}

.wrong .wrong_top h2 {
	float: left;
	font-size: 18px;
	color: #636262;
	line-height: 36px;
	padding-left: 10px;
}

.wrong .wrong_nr {
	width: 490px;
	margin: 0 auto;
	height: 210px;
}

.wrong .wrong_nr p {
	font-size: 16px;
	line-height: 23px;
	color: #626262;
	line-height: 210px;
	text-align: center;
}

/*异常界面结束*/ /*协议书开始*/
.agreement {
	margin: 0 auto;
	height: auto;
	width: 920px;
}

.agreement .agreement-nr {
	width: 900px;
	background: #f6f6f6;
	margin: 0 auto;
	border: 1px solid #d7d7d7;
	margin-top: 16px;
	color: #333;
	font-family: "simsun";
	font-size: 14px;
	overflow-x: hidden;
	padding: 30px 30px;
	line-height:24px;
}

.agreement-nr h2 {
	font-size: 14px;
	color: #333;
	font-weight: bold;
}

.agreement-nr p {
	line-height: 24px;
	padding-top: 20px;
	text-indent: 2em;
}

.agreement-nr h3 {
	padding-top: 40px;
	padding-bottom: 20px;
}

.agreement .agree-button {
	margin-top: 35px;
	margin-left: 310px;
	padding-bottom: 50px;
}

.agree-button .agree input {
	background: url(../images/button.png) no-repeat;
	height: 36px;
	width: 109px;
	border: none;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	float: left;
}

.agree-button .noagree input {
	background: url(../images/button3.png) no-repeat;
	height: 36px;
	width: 109px;
	border: none;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	float: left;
	margin-left: 90px;
}

.agree_center {
	width: 999px;
	margin: 0 auto;
	padding-top: 50px;
	padding-left: 80px;
}

.agree_center h2 {
	font-size: 32px;
	color: #454545;
	padding-bottom: 17px;
	border-bottom: 3px solid #ededf0;
}
/*协议书结束*/