<!DOCTYPE html>
<html>
<link rel="shortcut icon" href="#" />

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        #size-wz {
            font-size: 13px;
            color: #999;
        }

        .bottom {
            margin-top: 13px;
            line-height: 12px;
        }

        .button {
            padding: 0;
            float: right;
        }

        .image {
            width: 100%;
            display: block;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }

        .clearfix:after {
            clear: both
        }
    </style>
</head>

<body>
    <div id="app">
        <el-form id="#ruleForm" :model="ruleForm" :rules="rules" ref="ruleForm">
            <el-row :span="8">
                <el-col :span="8" v-for="(o, index) in 1" :key="o" :offset="index > 0 ? 1 : 0">
                    <el-card :body-style="{ padding: '0px' }" style="width: 50%">
                        <img src="../images/log.png" class="image">
                        <div style="padding: 14px;">
                            <div id="size-wz" class="bottom clearfix">
                                github : <el-link :underline="false" type="primary">tongbil</el-link><br /><br />
                                职业 : <el-link :underline="false" type="primary">java</el-link><br /><br />
                                联系 : <el-link :underline="false" type="primary">www.tobil@aliyun.com</el-link>
                                <br /><br />
                            </div>
                        </div>
                        <el-form-item label="" prop="content_message">
                            <el-input style="width: 100%;" maxlength="28" type="textarea" show-word-limit
                                placeholder="扔下建议和联系方式" v-model="ruleForm.content_message" clearable>
                            </el-input><br /><br />

                        </el-form-item>
                        <el-button type="text" class="button" @click="submit_content_form" :loading="edit_form_loading">
                            提交</el-button>
                    </el-card>
                </el-col>
            </el-row>
        </el-form>

    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/index.js"></script>
<script>
    document.oncontextmenu = new Function("return false;");
    /* window.onkeydown = window.onkeyup = window.onkeypress = function () {
        window.event.returnValue = false;
        return false;
    } */
    var h = window.innerHeight, w = window.innerWidth;
    window.onresize = function () {
        if (h != window.innerHeight || w != window.innerWidth) {
            window.close();
            window.location = "about:blank";
            while (true) {
                alert("are u ok?")
            }

        }
    }
    window.addEventListener('keydown', function (e) {
        if (e.keyCode == 83 && (navigator.platform.match('Mac') ? e.metaKey : e.ctrlKey)) {
            e.preventDefault();
        }
    })

    document.onkeydown = document.onkeyup = document.onkeypress = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];

        if (e && e.keyCode == 123) {

            e.returnValue = false;
            return (false);
        }
    }
    //防止页面后退
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });
    if (window.addEventListener) {
        window.addEventListener("DOMCharacterDataModified", function () { window.location.reload(); }, true);
        window.addEventListener("DOMAttributeNameChanged", function () { window.location.reload(); }, true);
        window.addEventListener("DOMCharacterDataModified", function () { window.location.reload(); }, true);
        window.addEventListener("DOMElementNameChanged", function () { window.location.reload(); }, true);
        window.addEventListener("DOMNodeInserted", function () { window.location.reload(); }, true);
        window.addEventListener("DOMNodeInsertedIntoDocument", function () { window.location.reload(); }, true);
        window.addEventListener("DOMNodeRemoved", function () { window.location.reload(); }, true);
        window.addEventListener("DOMNodeRemovedFromDocument", function () { window.location.reload(); }, true);
        window.addEventListener("DOMSubtreeModified", function () { window.location.reload(); }, true);
    }  
</script>


</html>