<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>titile</title>
    <style>
        [v-cloak] {
            display: none;

        }



        .active {
            color: red;
        }

        ;
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <button @click="coloseHtml">关闭</button>
        {{message}}
        <ul>
            <li v-for="(item,index) in movies">{{index}}-{{item}}</li>
        </ul>
        <div>{{ors.prad}}</div>
        <!--表达式-->
        <div>{{ firstName +"        "+ lastName}}</div>
        <!-- 过滤器 -->
        <div>{{num | showPrice}}</div>

        <!--一次表达式-->
        <div v-once>{{lastName}}</div>
        <!--html覆盖标签-->
        <div v-html="url" v-if="ur">

        </div>
        <!--text是覆盖全部内容-->
        <div v-text="url" v-if="ur">

        </div>
        <!--v-cloak是编译代码在页面不显示{{}}-->


        <div>
            <!--v-bind的使用 语法糖v-bind-变:-->
            <img :src="imgURL" alt="">
            <a :href="aHref">baidu</a>
        </div>
        <div>
            <!--v-bind动态绑定class-->
            <h2 class="active">{{message}}</h2>
            <h2 :class="{active:isActive,line:isLine}">{{message}}</h2>
            <h2 :class="getClass()">{{message}}</h2>
            <h2 class="title" :class="getClass()">{{message}}</h2>
        </div>
        <div>
            <!--动态绑定style-->
            <h2 :style="{fontSize:finalSize}">{{message}}</h2>
            <h2 :style="getStyles()">{{message}}</h2>
        </div>
        <div>
            <!--计算属性-->
            计算属性: {{fullName}}
            更高级计算属性: {{totalPrice}}
        </div>
        <div>
            <!-- getter 和setter -->
            <h2>get方法获取名字>{{full}}</h2>
        </div>
        <div>
            <!--v-on 监听 也有语法糖v-on 变:@ -->
            <button @click="increment">{{num}}</button>
        </div>
        <div @click="divClick">
            <!-- v-on修饰符stop的使用 -->
            11111<button @click.stop="btnClick">{{num}}</button>
        </div>

        <form action="baidu">
            <!-- prevent自己控制提交 -->
            <input type="submit" value="提交" @click.prevent="submitClick" />
        </form>
        <div>
            <!-- 监听所有键盘的键帽 -->
            <input type="text" @keyup="keyUp">
            <!-- 监听回车键帽 -->
            <input type="text" @keyup.enter="keyUp">
            <!-- 打印方法once 只出现一次 -->
            <input type="text" @keyup.once="keyUp">
        </div>
        <div>
            <!-- v-show 消失是 dispaly ="none" -->
            <input type="text" v-show="isActive">
        </div>
        <div>
            <!-- v-for -->
            <ul>
                <li v-for="(item,index) in movies" :key="item" :class="{active:num ===index}" @click="changeRed(index)">
                    {{index}} {{item}}


                </li>

            </ul>
            {{ors.prad}}

            <ul>
                <li v-for="(key,value) in ors">
                    {{key+" "+value}}
                </li>

            </ul>
        </div>
        <!-- 数组插入 -->
        <div>
            <!-- app.movies.splice(2,0,'ff') 第一个是下标第几个 加0就是在第二个下标插入一个ff 不加就是根据当前第二个数字删除几个元素 -->
            <!-- app.movies.set(this.movies,0,'ff') 第一个是对象，第二个是下标 第三个是修改 -->
        </div>
        <div>
            <!--this.movies.pop(); 是删除数组最后一个元素 写在methods里面  -->
            <!--this.movies.shift(); 是删除数组第一个元素 写在methods里面  -->
            <!--this.movies.unshift(); 在数组最前面添加元素  写在methods里面-->
            <!--this.movies.push(); 在数组最后面添加元素 写在methods里面 -->
            <!--this.movies.sort();  -->
            <!--this.movies.reverse();数组反转  -->
            <button @click="nums(1,2,3,4,5)">可变参数</button>
        </div>
        <div>
            <!--高阶函数  -->
            <!-- 
                filter 当返回true进入newNums 返回false 不进入 返回值一定是boolean类型
                const nums [1,2,444,555,66,7772,12,44]
                let newNums =nums.filter(function(n){
                    return n<20
                })

                map函数 操作数组的每一项
                let new2Nums =newNums.map(function(n){
                    return n*2
                })

                reduce 函数 对数组所有内容进行汇总
                new2Nums.reduce(function(preValue,n){
                     preValue 初始0 ，第二次 n 是参数
                     return   preValue +n;
                },0)

                //整个编程
                let total =nums.filter(function(n){
                     return n<100
                }).map(function (n){
                    return n*2
                }).reduce(function(preValue,n){
                        return preValue+n
                },0)
                //箭头编程
                let total =nums.filter(n >= n <100).map(n => n*2).reduce((pre,n) => pre +n);
             -->

            <!-- 直接不用for 
              this.nums.reduce(function(pre,num){
                  return pre+num.price*num.count
              })-->
        </div>
        <div>
            <!--v-model语法  -->
            v-model: <input type="text" v-model="ors.prad">
            <!-- 拆解 -->
            <input type="text" :value="ors.prad" @input="valueChange">
            <input type="text" :value="ors.prad" @input="ors.prad =$event.target.value">

        </div>
        <div>
            <!-- v-model radio   加个相同name 只能单选 加了v-model可以互斥不用name-->
            <label for="male">
                <input type="radio" id="male" value="男" name="sex" v-model="sex">男
            </label>
            <label for="female">
                <input type="radio" id="female" value="女" name="sex" v-model="sex">女
            </label>
            你选择的是： {{sex}}
        </div>
        <div>
            <!-- v-model绑定 checkbox -->
            <label for="agree">
                <input type="checkbox" id="agree" v-model="isAgres">同意协议
                你选择的是 {{isAgres}}
            </label>
            <button v-if="isAgres" :disabled="!isAgres">下一步</button>
            <!--v-model 多选框 -->

            <input type="checkbox" value="篮球" v-model="hobbles">篮球
            <input type="checkbox" value="羽毛球" v-model="hobbles">羽毛球
            <input type="checkbox" value="足球" v-model="hobbles">足球
            你点击的是:{{hobbles}}
            <!--v-model select框 -->
            <br />
            <label v-for="item in movies" :for="item">
                <input type="checkbox" :value="item" :id="item" v-model="hobbles">
            </label>
            {{hobbles}}

            <!-- v-model -静态 trim,number,lazy    v-model.lazy   扩展 查类型{{typeof age]}}-->
        </div>


    </div>
</body>
<script src="../js/vue.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    //{vscode 左下角setting 设置 右上角第一个打开配置
    //"terminal.integrated.rendererType": "dom",
    //"editor.formatOnType": true,
    //"editor.formatOnSave": true,
    //"liveServer.settings.donotShowInfoMsg": true,
    //"explorer.confirmDelete": false,
    //

    const app = new Vue({
        el: "#app",//用于要挂载的管理元素
        data() {
            return {
                //定义数据
                message: '你好啊，汤彪？',
                firstName: "kobe",
                lastName: "jms",
                ors: {
                    prad: "我爱你",
                    drap: "我恨你",
                },
                movies: ['星际穿越', '穿越火线'],
                num: 1,
                url: '<a href="http://www.baidu.com">百度一下</a>',
                ur: true,
                imgURL: "https://www.baidu.com/img/bd_logo1.png",
                aHref: 'http://www.baidu.com',
                active: 'active',
                isActive: true,
                isLine: true,
                finalSize: '100px',
                books: [
                    { price: 119 },
                    { price: 100 },
                    { price: 133 },
                ],
                sex: "",
                isAgres: false,
                hobbles: [],
            }
        },
        //计算属性
        computed: {
            fullName: function () {
                return this.firstName + " " + this.lastName;
            },
            totalPrice: function () {
                let result = 0;
                // for (let i = 0; i < this.books.length; i++) {
                //    result += this.books[i].price
                //}

                // for (let i in this.books) {
                //    result += this.books[i].price
                // }
                for (let book of this.books) {
                    result += book.price
                }
                return result;
            },
            full: {
                get: function () {

                    return this.firstName + " " + this.lastName;
                },
            },
        },
        //过滤器
        filters: {
            showPrice(num) {
                return num.toFixed(2);
            }
        },
        methods: {
            handleChange(value) {
                console.log(value);
            },
            getClass: function () {
                return { active: this.isActive, line: this.isLine }
            },
            getStyles: function () {
                return { fontSize: this.finalSize }
            },
            increment() {
                return this.num++;
            },
            coloseHtml() {

            },
            btnClick() {
                console.log('btnClick')
            },
            divClick() {
                console.log('divClick')
            },
            submitClick() {
                console.log('submitClick');

            },
            keyUp() {
                console.log('keyup')
            },
            //可变参数
            nums(...num) {
                console.log(num);

            },
            changeRed(index) {
                this.num = index;
            },
            //监听时间
            valueChange(event) {
                //event 是监听input输入值时间，调这个方法不需要在额外加括号
                this.ors.prad = event.target.value;
            },

        },
        beforeCreate: function () {
            console.log("beforecreated")
        },
        created: function () {

            console.log("create")
        },
        mounted: function () {
            console.log("mounted")
        },
    })


</script>

</html>