<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>titile</title>
    <style>
        [v-cloak] {
            display: none;

        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        {{message}}
        <ul>
            <li v-for="item in movies">{{item}}</li>
        </ul>
        <div>{{ors.prad}}</div>
        <!--表达式-->
        <div>{{ firstName +"        "+ lastName}}</div>
        <div>{{num * 2}}</div>

        <!--一次表达式-->
        <div v-once>{{lastName}}</div>
        <!--html覆盖标签-->
        <div v-html="url" v-if="ur">

        </div>
        <!--text是覆盖全部内容-->
        <div v-text="url" v-if="ur">

        </div>
        <!--v-cloak-->
        <div>

        </div>

    </div>
</body>
<script src="../js/vue.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    //{vscode 左下角setting 设置 右上角第一个打开配置
    //"terminal.integrated.rendererType": "dom",
    //"editor.formatOnType": true,
    //"editor.formatOnSave": true,
    //"liveServer.settings.donotShowInfoMsg": true,
    //"explorer.confirmDelete": false,
    //

    const app = new Vue({
        el: "#app",//用于要挂载的管理元素
        data() {
            return {
                //定义数据
                message: '你好啊，汤彪？',
                firstName: "kobe",
                lastName: "jms",
                ors: {
                    prad: "我爱你"
                },
                movies: ['星际穿越', '穿越火线'],
                num: 1,
                url: '<a href="http://www.baidu.com">百度一下</a>',
                ur: true,
            }
        },
        methods: {
            handleChange(value) {
                console.log(value);
            },

        },
        beforeCreate: function () {
            console.log("beforecreated")
        },
        created: function () {
            console.log("create")
        },
        mounted: function () {
            console.log("mounted")
        },
    })


</script>

</html>