.printstyle p {
    font-size: 15px;
}

.printstyle table {
    border-collapse: collapse;
    border:1px;
    font-size: 15px;
    width: 100%;
}

.printstyle td {
    border: 1px solid #000000;
    height: 30px;
}